.site-main {
    .new-search {
        padding-bottom: 2.5rem;
        margin: 4rem 0 2rem;
        border-bottom: 1px solid #dee2e6;
        text-align: center;
    }
}

.search-results {
    article {
        margin-bottom: 40px;
    }
}