.header-jarallax {
    display: flex;
    margin: 0% 0% 0% 0%;
    min-height: 70vh;
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    &:before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .entry-title {
        color: #ffffff;
        margin: 14% 0% 0% 0%;
        text-transform: uppercase;
        z-index: 9;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .entry-title {
            margin: 14% 0% 0% 0%;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.page-contact-wrap {
    .entry-title {
        margin: 14% 0% 5% 0%;
        padding: 0px 0px 0px 0px;
    }
    &.page-contact-style-2 {
        .header-jarallax {}
        .entry-header {
            background-color: #ffffff;
            padding-top: 120px;
            &:before {
                display: none;
            }
            .entry-title {
                color: #000000;
                font-size: 40px;
                font-weight: 300;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .acf-map {
            width: 100%;
            height: 400px;
            min-height: 400px;
            margin: 0;
        }
        .acf-map img {
            max-width: inherit !important;
        }
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            .contact_form {
                .contact_form_wrapper {
                    padding: 12% 10% 12% 10%;
                }
            }
            .contact_map {
                padding: 0;
            }
            .acf-map {
                height: 100%;
            }
        }
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            .entry-header {
                padding-top: 150px;
                .entry-title {
                    margin: 0;
                }
            }
        }
        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            .entry-header {
                .entry-title {
                    font-size: 50px;
                }
            }
        }
        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {}
    }
    .contact-us-information {
        padding: 30px 0 50px;
    }
    .contact-information-list {
        display: flex;
        .contact-information-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .item-box-icon {}
    }
    .contact-information-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .item-box-icon {
            border: 3px solid $brand__color;
            border-radius: 50%;
            color: $brand__color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            margin-bottom: 15px;
            height: 66px;
            width: 66px;
            a {
                color: $brand__color;
            }
        }
        @media (max-width: 480px) {
            .item-box-icon {
                font-size: 20px;
                height: 50px;
                width: 50px;
            }
        }
        .item-box-content {
            text-align: center;
            .information-title {
                color: #000000;
                font-size: 25px;
                font-weight: 300;
                text-transform: uppercase;
            }
            a {
                color: #000000 !important;
            }
            .information-description {
                color: #000000;
            }
        }
    }
    .contact-us-disclaimer-text {
        padding: 3% 6% 3% 6%;
        font-size: 13px;
    }
    @media (max-width: 768px) {
        .contact-information-list {
            display: flex;
            flex-direction: column;
            .contact-information-item {
                margin-bottom: 30px;
                width: 100%;
            }
        }
    }
    // Add style padding left 50px and right 50px for tablet
    @media (min-width: 640px) and (max-width: 1200px) {
        .container,
        .container-sm,
        .container-md,
        .container-lg,
        .container-xl,
        .container-xxl {
            padding-right: 50px !important;
            padding-left: 50px !important;
        }
        .container-fluid {
            padding-right: 50px !important;
            padding-left: 50px !important;
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .contact-us-information {
            padding: 30px 0 70px;
        }
        .contact-us-disclaimer-text {
            padding: 3% 6% 3% 6%;
            font-size: 13px;
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
    // XX-Large devices (larger desktops, 1600px and up)
    @media (min-width: 1600px) {
        .contact-us-disclaimer-text {
            .disclaimer-text {
                margin-left: auto;
                margin-right: auto;
                max-width: 1500px;
            }
        }
    }
}

.page-section.contact_locations {
    padding: 70px 70px 0px 70px;
}

.page-section.contact_us {
    padding: 3% 0% 3% 0%;
    .form-contact-us {
        &.contact_with_bg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .form-content-wrap {
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }
    }
    .form-content-wrap {
        background-color: #ffffff;
        border-style: dashed;
        border-width: 1px 1px 1px 1px;
        border-color: #C79E5569;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin: 0;
        padding: 5% 5% 5% 5%;
    }
}