.header-jarallax {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0% 0% 0% 0%;
    min-height: 70vh;
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    &:before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .entry-title {
        color: #ffffff;
        margin: 14% 0% 0% 0%;
        text-transform: uppercase;
        z-index: 9;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        min-height: 90vh;
        height: 90vh;
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .entry-title {
            margin: 14% 0% 0% 0%;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.site-main {
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

section {
    padding: 30px 0;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding: 3% 0% 1% 0%;
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}