.home-section.about_us {
    background-color: #FCFAF5;
    overflow: hidden;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: $brand__color;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 5% 10% 5% 10%;
    .about-us-top {}
    .about-us-main {
        margin: 0px 0px 0px 0px;
        padding: 15px 0;
    }
    .about-us-hero {
        margin: 0px 0px 0px 0px;
        padding: 2em 0em 2em 0em;
        position: relative;
        .play-video-content {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 9;
            i {
                color: #C79E55;
                font-size: 100px;
                text-shadow: none;
                background-color: white;
                border-radius: 50%;
                opacity: .8;
                transition: all .5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .about-us-image {
            padding: 0 30px 0 15px
        }
        .about-us-main {
            margin: 0px 0px 0px 0px;
            padding: 15px 0 0 30px;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.youtube-popup {
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .mfp-content {
            width: 75%;
            max-width: 100%;
        }
    }
}