.home-banner {
    .card-content {
        background-repeat: no-repeat;
        background-position: 50%;
        color: #ffffff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        line-height: 1.6em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 50px;
        margin: auto;
    }
    .swiper-slide {
        height: 300px;
        overflow: hidden;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: $brand__color;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .swiper-slide {
            height: 400px;
            overflow: hidden;
        }
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .swiper-slide {
            height: 95vh;
            overflow: hidden;
        }
        .card-content {
            font-size: 2.7rem;
            font-weight: 400;
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .swiper-slide {
            height: 95vh;
            overflow: hidden;
        }
        .card-content {
            font-size: 4.3rem;
            font-weight: 400;
            padding: 0% 0% 18% 0%;
            text-align: center;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.swiper-scale-effect {
    .card-image {
        height: 100%;
        transition: 10s ease-in;
        transform: scale(1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .swiper-slide.swiper-slide-active .card-image {
        transform: scale(1.2);
    }
}