.home-banner {
    &.slide-style1 {
        .card-content {
            background-repeat: no-repeat;
            background-position: 50%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1.4em;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 50px;
            margin: auto;
            .h2 {
                line-height: 1.2em;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
    &.slide-style2 {
        .card-content {
            background-repeat: no-repeat;
            background-position: 50%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            line-height: 1.4em;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 50px;
            margin: auto;
            .h2 {
                line-height: 1.2em;
                text-align: right;
            }
            p {
                text-align: right;
            }
        }
    }
    &.slide-style3 {
        .card-content {
            background-repeat: no-repeat;
            background-position: 50%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1.4em;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 50px;
            margin: auto;
            .h2 {
                line-height: 1.2em;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
    .card-content {
        .h2 {
            line-height: 1.2em;
        }
        p {}
        .card-action {
            a {
                background-color: $brand__color;
                color: #ffffff !important;
                font-size: 16px;
                padding: 12px 30px;
                transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                &:hover {
                    background-color: $brand__color;
                    color: #ffffff;
                }
            }
        }
    }
    .swiper-slide {
        height: 300px;
        overflow: hidden;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: $brand__color;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .swiper-slide {
            height: 400px;
            overflow: hidden;
        }
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .swiper-slide {
            height: 95vh;
            overflow: hidden;
        }
        .card-content {
            font-size: 2.7rem;
            font-weight: 400;
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        &.slide-style1 {
            .card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
        &.slide-style2 {
            .card-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                h2 {
                    text-align: right;
                }
                p {
                    text-align: right;
                }
            }
        }
        .swiper-slide {
            height: 95vh;
            overflow: hidden;
        }
        .card-content {
            padding: 0% 0% 18% 0%;
            h2 {
                font-size: 4.3rem;
                font-weight: 400;
                line-height: 1.2em;
            }
            p {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.swiper-scale-effect {
    .card-image {
        height: 100%;
        transition: 10s ease-in;
        transform: scale(1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .swiper-slide.swiper-slide-active .card-image {
        transform: scale(1.2);
    }
}