.contact_us {
    padding: 5% 0% 5% 0%;
    h2.section-title {}
    .contact-form-title {
        font-size: 36px;
        line-height: 1.2em;
        margin-bottom: 30px;
        p {
            font-size: 36px;
        }
    }
    &.service-contact-section {
        &.contact_with_bg {
            .form-contact-us {
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }
        .form-contact-us {
            background-color: #fff;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #FAFAFA;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            padding: 20px 50px 20px 50px;
        }
    }
    &.service-contact-sidebar {
        .form-contact-us {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #fff;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #FAFAFA;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            padding: 20px 15px;
        }
        .contact-form-title {
            font-size: 36px;
            p {
                font-size: 36px;
                margin: 0;
            }
        }
    }
    &.contact_us_style_2 {
        .contact_image_content {
            justify-content: center;
            text-align: center;
            margin-bottom: 30px;
            img {
                height: auto;
                width: 100%;
            }
        }
        .contact_image_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .gform_wrapper {
                width: 100%;
            }
        }
    }
    &.contact_us_style_3 {
        .contact_image_content {
            justify-content: center;
            text-align: center;
            margin-bottom: 30px;
            img {
                height: auto;
                width: 100%;
            }
        }
        .contact_image_form {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .gform_wrapper {
                width: 100%;
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        &.service-contact-sidebar {
            flex-basis: 40%;
            width: 40%;
        }
        &.contact_us_style_2 {
            .contact_image_content {
                justify-content: flex-start;
                margin-bottom: 0;
                text-align: left;
            }
            .contact_image_form {
                .gform_wrapper {
                    max-width: 480px;
                }
            }
        }
        &.contact_us_style_3 {
            .container-fluid {
                padding: 0;
            }
            .contact_image_content {
                justify-content: flex-start;
                margin-bottom: 0;
                padding-right: 0;
                text-align: left;
                img {
                    height: auto;
                    width: 100%;
                }
            }
            .contact_image_form {
                padding-left: 0;
                .gform_wrapper {
                    max-width: 480px;
                }
            }
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        h2.section-title {}
        .contact-form-title {
            font-size: 54px;
            p {
                font-size: 54px;
            }
        }
        &.service-contact-section {
            .form-contact-us {
                padding: 20px 50px 20px 50px;
            }
        }
        &.service-contact-sidebar {
            .contact-form-title {
                font-size: 54px;
                p {
                    font-size: 54px;
                }
            }
        }
        &.contact_us_style_2 {
            .contact_image_content {}
            .contact_image_content,
            .contact_image_form {
                padding: 50px 50px 50px 50px;
            }
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}