.our_testimonials {
    .section-title {
        margin-bottom: 15px;
    }
    .block-blockquote {
        font-size: 400;
        text-align: center;
        &::before {
            content: "“";
            font-size: 100px;
            color: $brand__color;
            font-family: Times New Roman, Times, serif;
            font-weight: 900;
            line-height: 1;
            display: block;
            height: .6em;
        }
    }
    .blockquote__content {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.2em;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .blockquote__position {
        color: $brand__color;
        font-size: 1rem;
        font-weight: 300;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}