.our_services {
    .our-services__item {
        box-sizing: border-box;
        margin-bottom: 30px;
        &:nth-child(2n) {}
        &:nth-child(2n+1) {}
        .item-text-wrap {
            padding-top: 15px;
        }
        .item-header {
            .heading-services-icon {
                // background-image: url('assets/images/medstar01-icon.png');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
                content: "";
                display: block;
                position: relative;
                height: 50px;
                width: 50px;
                img {
                    height: auto;
                    width: 100%;
                }
            }
            h2 {
                color: $text__color;
                font-size: 36px;
                line-height: 1.2em;
                margin-top: 10px;
            }
        }
        .item-description {
            display: flex;
            margin-bottom: 15px;
            width: 100%;
        }
        .item-link {
            display: flex;
            width: 100%;
            a {
                fill: #FFFFFF !important;
                display: block;
                border-radius: 50px 50px 50px 50px;
                box-shadow: 0px 20px 33px 1px rgba(0, 0, 0, 0.11);
                height: 50px;
                line-height: 18px;
                padding: 14px 50px 14px 50px;
            }
            a.btn-view-more {
                color: #FFFFFF !important;
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .our-services__item {
            &:nth-child(2n) {
                .item-image {
                    order: 2;
                }
                .item-text {
                    order: 1;
                }
                .item-image-wrap {
                    display: flex;
                    margin: 0em -2em 0em 2em;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                    // img {
                    //     width: 100%;
                    // }
                }
                .item-text-wrap {
                    border-style: solid;
                    border-width: 0px 0px 0px 7px;
                    border-color: #BA9858;
                    box-shadow: 19px -2px 40px 0px rgba(0, 0, 0, 0.24);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    margin: 6em 2em 6em 0em;
                    padding: 4em 4em 4em 5em;
                }
            }
            &:nth-child(2n+1) {
                .item-image-wrap {
                    display: flex;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                    // img {
                    //     width: 100%;
                    // }
                }
                .item-text-wrap {
                    background-color: #FFFFFF;
                    border-style: solid;
                    border-width: 0px 7px 0px 0px;
                    border-color: $brand__color;
                    box-shadow: -15px -2px 40px 0px rgba(0, 0, 0, 0.17);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    margin: 2.5em 2em 6em -2em;
                    padding: 4em 4em 4em 5em;
                }
            }
            .our-services__item-wrap {}
            .item-image {
                width: 50%;
            }
            .item-image-wrap img {
                width: 75%;
            }
            .item-text {
                width: 50%;
            }
        }
        .our-services__item-wrap {
            display: flex;
        }
    }
    @media (min-width: 768px) and (max-width: 991.99px) {
        .our-services__item {
            &:nth-child(2n) {
                .item-text-wrap {
                    padding: 30px;
                }
            }
            &:nth-child(2n+1) {
                .item-text-wrap {
                    padding: 30px;
                }
            }
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .our-services__item {
            .item-image {
                flex: 0 0 50% !important;
                max-width: 50% !important;
            }
            &:nth-child(2n) {
                .item-image-wrap {
                    display: flex;
                    margin: 0em -3em 0em 3em;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                }
                .item-text-wrap {
                    margin: 6em 2em 6em 0em;
                    padding: 4em 4em 4em 5em;
                }
            }
            &:nth-child(2n+1) {
                .item-image-wrap {
                    display: flex;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                }
                .item-text-wrap {
                    margin: 2.5em 2em 6em -4em;
                    padding: 4em 4em 4em 5em;
                }
            }
            .item-image-wrap img {
                width: 75%;
            }
        }
        .our-services__item-wrap {
            display: flex;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .our-services__item {
            &:nth-child(2n) {
                .item-image-wrap {
                    display: flex;
                    margin: 0em -5em 0em 5em !important;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                }
                // .item-text {
                //     margin: 6em -4em 6em 4em;
                // }
                .item-text-wrap {
                    padding: 4em 4em 4em 5em;
                    width: 100%;
                }
            }
            &:nth-child(2n+1) {
                .item-image-wrap {
                    display: flex;
                    position: relative;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                }
                .item-text {
                    margin: 6em -4em 6em 4em;
                }
                .item-text-wrap {
                    margin: 2.5em 4em 6em -4em;
                    padding: 4em 4em 4em 5em;
                }
            }
            .item-header {
                .heading-services-icon {
                    height: 50px;
                    width: 50px;
                }
                h2 {
                    font-size: 64px;
                }
            }
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}