// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
}

// .site-header,
// .site-footer {
//     .container,
//     .container-sm,
//     .container-md,
//     .container-lg,
//     .container-xl,
//     .container-xxl {
//         max-width: 100% !important;
//         @media (min-width: 1200px) {
//             max-width: 1170px !important;
//         }
//     }
// }
// .site-main {
//     .container,
//     .container-sm,
//     .container-md,
//     .container-lg,
//     .container-xl,
//     .container-xxl {
//         max-width: 100% !important;
//         @media (min-width: 1200px) {
//             max-width: 1170px !important;
//         }
//     }
//     &.box-1200-site-main {
//         .container,
//         .container-sm,
//         .container-md,
//         .container-lg,
//         .container-xl,
//         .container-xxl {
//             max-width: 100% !important;
//             @media (min-width: 1200px) {
//                 max-width: 1170px !important;
//             }
//         }
//     }
// }
// @media (min-width: 1200px) {
//     .container,
//     .container-sm,
//     .container-md,
//     .container-lg,
//     .container-xl,
//     .container-xxl {
//         max-width: 1170px;
//     }
// }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/**
 * Basic styles for links
 */

a {
    color: $brand__color;
    text-decoration: none;
    @include on-event {
        color: $text__color;
    }
}

.alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    @include center-block;
    margin-bottom: 1.5em;
}