@media (min-width: 1200px) {
    .contact_us.service-contact-sidebar .contact-form-title {
        font-size: 54px;
        margin-top: 0 !important;
    }
}

.home-banner.slide-style3 .card-content p {
    line-height: 1.4em;
}

.page-template-page-contact-thankyou .header-jarallax .entry-title,
.page-template-page-about-us .header-jarallax .entry-title {
    line-height: 1.2em;
}

.page-template-page-services-thankyou .service-banner-image .service-banner-title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.2em;
    max-width: 70%;
}

.page-template-page-services-thankyou .service-banner-image .service-banner-description p {
    line-height: 1.6em;
    font-size: 30px;
}

@media (max-width: 1024px) {
    .page-template-page-services-thankyou .services-banner-texts {
        width: 100%;
        align-items: center !important;
    }
    .page-template-page-services-thankyou .service-banner-image .service-banner-title {
        text-align: center;
        max-width: 100%;
        font-size: 30px;
    }
    .page-template-page-services-thankyou .service-banner-image .service-banner-description p {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .page-template-page-services-thankyou .service-banner-image .service-banner-description p {
        font-size: 16px;
    }
}

.accordion-button {
    background-color: #f0f0f0;
}

.accordion-button::before {
    content: '\f067';
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-right: 15px;
}

.accordion-button::after {
    background-image: none !important;
    transform: none !important;
    content: '\f107';
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    text-align: center;
}

body .accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg) !important;
}

.page-template-page-contact .contact_us.contact_us_style_3 .contact_image_form,
.page-template-page-about-us .contact_us.contact_us_style_3 .contact_image_form {
    padding-bottom: 2%;
}

@media (min-width: 768px) {
    .contact_us.contact_us_style_3 .contact_image_content img {
        height: auto;
        width: 100%;
    }
}

.page-template-page-contact .contact_image_form .section-title,
.page-template-page-about-us .contact_image_form .section-title {
    padding-top: 33px;
}

.explore_our_treatments .main h2.content-our-treatments-title,
.explore_our_treatments .main .content-our-treatments-title.h2 {
    line-height: 1.4em;
    margin-bottom: 25px;
}

.our_services .our-services__item .item-link a {
    line-height: 22px;
}

.home-banner.slide-style1 .card-content h2 {
    margin-bottom: 30px;
}

@media all and (max-width: 768px) {
    .header-jarallax {
        min-height: 40vh;
    }
    .home-section.treaments_featured {
        padding: 23px 0 0 0;
    }
    .contact_us.service-contact-sidebar {
        padding-top: 10%;
    }
}

.contact_us .contact-form-title {
    margin-bottom: 20px !important;
}

@media (min-width: 1200px) {
    .entry-content h2,
    .entry-content .h2 {
        margin-top: 1em !important;
        margin-bottom: 0.8em !important;
    }
    .contact_us.service-contact-sidebar .contact-form-title p {
        line-height: 1.2em !important;
    }
    .contact_us .contact-form-title p {
        line-height: 1.2em !important;
    }
}

.contact_us.service-contact-sidebar .form-contact-us {
    padding: 40px 15px 20px 15px !important;
}

.gfield_label {
    display: none !important;
}

#section-contact_us>.container {
    max-width: 1500px !important;
}

@media (max-width: 480px) {
    .service-banner.service-banner_fixed {
        background-attachment: inherit;
    }
}

.site-footer .footer-copyright-menu a {
    margin: 0;
}

.site-footer .footer-copyright-menu span.separator {
    margin: 0 5px;
}

@media (max-width: 820px) {
    .header-jarallax {
        min-height: 45vh;
    }
    .header-jarallax div[id^="jarallax-container"]>div {
        margin-top: 0 !important;
        background-size: contain !important;
        background-position: top center !important;
    }
}

@media (max-width: 768px) {
    .header-jarallax {
        min-height: 50vh;
    }
}


/* @media (max-width: 480px){
    .header-jarallax {
        max-height: 583px;
        min-height: 583px;
    }
} */

@media (min-width: 1200px) {
    .service-banner-image .service-our_award img {
        max-width: 165px;
    }
}

@media (min-width: 768px) {
    /* reset bug css */
    .our_services .our-services__item:nth-child(2n) .our-services__item-wrap .item-image-wrap,
    .our_services .our-services__item:nth-child(2n) .item-text-wrap,
    .our_services .our-services__item:nth-child(2n+1) .item-text-wrap {
        margin: 0;
    }
}

@media (max-width: 1499px) and (min-width: 992px) {
    .our_services .our-services__item:nth-child(2n) .our-services__item-wrap .item-image-wrap img {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .our_services .our-services__item .item-image-wrap img {
        width: 100%;
    }
}


/* begin new css */

@media (min-width: 768px) {
    .our_services .our-services__item-wrap {
        justify-content: space-between;
        align-items: center;
    }
    .our_services .our-services__item .item-image {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .our_services .our-services__item .item-text {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .our_services .our-services__item .item-image-wrap img {
        width: 100%;
    }
}