@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/// Regular font family
/// @type List
$text-font-stack: 'Gotham',
sans-serif !default;
/// Code (monospace) font family
/// @type List
$code-font-stack: 'Gotham',
sans-serif !default;
/// Copy text color
/// @type Color
$text__color: #7A7A7A !default;
/// Main brand color
/// @type Color
$brand__color: #C79E55;
$brand__color-dark:#8D6C31;
/// Light grey
/// @type Color
$light__grey: rgb(237,
237,
237) !default;
/// Medium grey
/// @type Color
$mid__grey: rgb(153,
153,
153) !default;
/// Dark grey
/// @type Color
$dark__grey: rgb(68,
68,
68) !default;
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px,
'medium': 768px,
'large': 1024px,
) !default;