.site-footer {
    padding-top: 30px;
    font-size: 14px;
    .first-col-widget,
    .third-col-widget,
    .second-col-widget {
        width: 100%;
    }
    .footer-top-content {
        padding: 15px;
    }
    .footer-widgets {
        padding-bottom: 30px;
    }
    .content-list {
        .contact-item {
            color: $brand__color;
            font-size: 15px;
            margin-bottom: 20px;
            h3 {
                color: $brand__color;
                font-size: 17px;
                font-weight: 600;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0
            }
            li {}
            a {
                color: $brand__color;
                &:hover {
                    color: $brand__color-dark;
                }
            }
        }
    }
    .footer-logo {
        margin-bottom: 30px;
        img {
            max-width: 130px;
        }
    }
    .social-list {
        margin-bottom: 30px;
    }
    small {
        font-size: 12px;
        line-height: 16px;
    }
    .our-partner-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .partner-item {
            flex: 1;
            img {
                max-height: 45px;
                width: auto;
            }
        }
    }
    .time-working {
        color: $brand__color;
    }
    .footer-vertical-menu {
        li {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
    .site-info {
        background: #000000;
        color: #ffffff;
        font-size: 14px;
        padding: 15px 0;
        a {
            color: #ffffff;
            &:hover {
                color: $brand__color;
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .first-col-widget,
        .third-col-widget,
        .second-col-widget {
            width: 33%;
        }
        .first-col-widget,
        .third-col-widget {
            padding-top: 70px;
            position: relative;
            &:before {
                background-color: $brand__color;
                content: '';
                position: absolute;
                top: 45px;
                left: 0;
                height: 1px;
                width: 100%;
            }
        }
        .footer-vertical-menu {
            text-align: right;
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding-top: 50px;
        .first-col-widget,
        .third-col-widget {
            width: 38%;
        }
        .second-col-widget {
            width: 23.332%;
        }
        .footer-logo {
            padding-left: 30px;
            padding-right: 30px;
            img {
                max-width: 100%;
            }
        }
        .our-partner-logo {
            .partner-item {
                flex: 1;
                img {
                    max-height: 75px;
                    width: auto;
                }
            }
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .footer-top-content {
            padding: 0px 50px 40px 50px;
        }
        .footer-widgets {
            padding-bottom: 40px;
        }
        .footer-logo {
            margin-bottom: 35px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .social-list {
            margin-bottom: 35px;
        }
        .our-partner-logo {
            .partner-item {
                img {
                    max-height: 100px;
                    width: auto;
                }
            }
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}