.book_your_next_appointment {
    .book_your_next_appointment-wrap {
        padding: 100px 0;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .book_your_next_appointment-wrap {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 75vh;
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}