.explore_our_treatments {
    padding-top: 80px;
    padding-bottom: 80px;
    .main {
        background-color: #FFFFFFE8;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        text-align: center;
        h2.content-our-treatments-title {
            color: #54595F;
            font-size: 36px;
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding-top: 150px;
        padding-bottom: 150px
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .main {
            h2.content-our-treatments-title {
                font-size: 50px;
            }
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}