form {}

.gform_wrapper {
    form {
        input {
            color: #BAA788;
            padding: 0px 0px 10px 0px;
            margin-bottom: 10px;
            border: none;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: medium;
            border-bottom: 1px solid #313B67 !important;
            font-size: 16px;
            color: #BAA788;
            height: 50px;
            padding: 10px;
            width: 100% !important;
        }
    }
    .gform_footer input[type="submit"] {
        background-color: $brand__color;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border: none;
        display: flex;
        line-height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        line-height: 0.1em;
        letter-spacing: 2.5px;
        color: #fff;
        height: 60px;
        padding: 30px 30px 20px 30px;
        margin-top: 15px;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;
        &:hover {
            background-color: $brand__color-dark;
        }
    }
}