.header-menu-toggle {
    background: none;
    border: none;
    box-shadow: none;
    width: 36px;
    height: 30px;
    position: relative;
    margin: 0 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 100;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: #ffffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    span:nth-child(even) {
        left: 48%;
        border-radius: 0 9px 9px 0;
    }
    span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
    }
    span:nth-child(1),
    span:nth-child(2) {
        top: 0px;
    }
    span:nth-child(3),
    span:nth-child(4) {
        top: 10px;
    }
    span:nth-child(5),
    span:nth-child(6) {
        top: 20px;
    }
    &.open {
        transition: all 600ms ease-in-out;
        span:nth-child(1),
        span:nth-child(6) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        span:nth-child(2),
        span:nth-child(5) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        span:nth-child(1) {
            left: 3px;
            top: 7px;
        }
        span:nth-child(2) {
            left: calc(50% - 3px);
            top: 7px;
        }
        span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }
        span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }
        span:nth-child(5) {
            left: 3px;
            top: 19px;
        }
        span:nth-child(6) {
            &.open {
                left: 345px;
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        display: none;
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}

.main-navigation {
    a {
        color: #ffffff;
        font-family: $text-font-stack;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    #primary-menu {
        >li>a {
            color: #ffffff;
            padding: 5px 15px;
            transition: all .5s;
            &:hover {
                color: $brand__color;
                transform: scale(1.2);
            }
        }
    }
    @media (min-width: 992px) {
        #primary-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            >li.current-menu-item>a {
                color: $brand__color;
            }
            li {
                &:focus,
                &:focus-within,
                &:hover {
                    background-color: $brand__color;
                    color: #ffffff;
                    >a {
                        color: #ffffff;
                    }
                }
            }
            >li.menu-item-has-children {
                >a {
                    position: relative;
                }
                >.fa {
                    color: #ffffff;
                    position: absolute;
                    top: 46%;
                    transform: translateY(-50%);
                    right: 10px;
                    font-size: 14px;
                }
            }
            >li>a {
                padding-left: 20px;
                padding-right: 20px;
            }
            >li {
                padding: 10px 0;
                position: relative;
                >.sub-menu {
                    background-color: #FFF;
                    box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.4);
                    visibility: hidden;
                    /* hides sub-menu */
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 0;
                    width: 240px;
                    transform: translateY(-2em);
                    z-index: -1;
                    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                    li {
                        display: flex;
                        list-style: none;
                        position: relative;
                        >a {
                            display: flex;
                            width: 100%;
                        }
                        &:focus,
                        &:focus-within,
                        &:hover {
                            background-color: $brand__color;
                            color: #ffffff;
                            >a {
                                color: #ffffff;
                            }
                        }
                        .sub-menu {
                            background-color: #FFF;
                            box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.4);
                            visibility: hidden;
                            /* hides sub-menu */
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 100%;
                            padding: 0;
                            width: 240px;
                            transform: translateX(-2em);
                            z-index: -1;
                            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                        }
                        &:focus>.sub-menu,
                        &:focus-within>.sub-menu,
                        &:hover>.sub-menu {
                            visibility: visible;
                            /* shows sub-menu */
                            opacity: 1;
                            z-index: 99;
                            transform: translateX(0%);
                            transition-delay: 0s, 0s, 0.3s;
                            /* this removes the transition delay so the menu will be visible while the other styles transition */
                        }
                    }
                    >li.menu-item-has-children {
                        >a {
                            position: relative;
                        }
                        >.fa {
                            color: $text__color;
                            position: absolute;
                            top: 46%;
                            transform: translateY(-50%);
                            right: 10px;
                            font-size: 14px;
                        }
                    }
                    a {
                        color: $text__color;
                        padding: 10px 15px;
                        text-transform: none;
                    }
                }
                &:focus>.sub-menu,
                &:focus-within>.sub-menu,
                &:hover>.sub-menu {
                    visibility: visible;
                    /* shows sub-menu */
                    opacity: 1;
                    z-index: 99;
                    transform: translateY(0%);
                    transition-delay: 0s, 0s, 0.3s;
                    /* this removes the transition delay so the menu will be visible while the other styles transition */
                }
                &:hover>a,
                &.focus>a {}
            }
        }
    }
    @media(min-width: 1600px) {
        #primary-menu {
            >li>a {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

ul.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
        margin: 0 15px;
    }
    a {
        color: $brand__color;
        &:hover {
            color: $brand__color-dark;
        }
    }
}

#mobile-site-navigation {
    background-color: #FFF;
    li {
        list-style: none;
        text-align: center;
        padding: 5px 0;
        a {
            display: flex;
            justify-content: center;
            position: relative;
            color: $brand__color;
            padding: 10px 20px;
            text-align: center;
            width: 100%;
        }
        &.menu-item-has-children {
            position: relative;
            >a {
                position: relative;
                color: $brand__color;
            }
            >.fa {
                color: $text__color;
                position: absolute;
                top: 18px;
                transform: translateY(-50%);
                right: 10px;
                font-size: 14px;
            }
            .sub-menu {
                display: none;
                padding: 0
            }
            &.active {
                >a {
                    background-color: $brand__color;
                    color: #ffffff;
                }
                >.sub-menu {
                    display: block !important;
                }
                >.menu-collapsed {
                    color: #ffffff;
                }
            }
        }
        .menu-collapsed {
            cursor: pointer;
            font-size: 18px;
            top: 25px !important;
            padding: 10px;
        }
    }
    .header-mobile-navigation {
        list-style: none;
        >li>a {
            display: flex;
            width: 100%
        }
    }
}