section.our_location {
    background-color: transparent;
    background-image: radial-gradient(at top center, #EAE4DADE 0%, #FFFFFF 67%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3% 0% 3% 0%;
    position: relative;
    .location-list {
        list-style: none;
        padding-left: 0;
        .location-item {
            padding: 4% 3% 4% 3%;
            background-color: #FFFFFF;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #C79E554A;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
            margin-bottom: 35px;
        }
    }
    .location-item {
        .location-title {
            font-family: "GothamHTF Book", OPEN SANS;
            font-size: 19px;
            font-weight: 600;
        }
        p {
            margin: 0
        }
        a {}
        .location-address,
        .location-phone {}
    }
    .map-pins {
        position: relative;
        .map-pin-item {
            position: absolute;
            &.map-pin-item-1 {
                left: 32%;
                top: 26%;
            }
            &.map-pin-item-2 {
                left: 69%;
                top: 24%;
            }
            &.map-pin-item-3 {
                left: 72%;
                bottom: 43%;
            }
        }
    }
}

.e-hotspot__button {
    cursor: pointer;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $brand__color;
    font-size: 18px;
    min-width: 20px;
    min-height: 20px;
    &::before {
        animation: e-hotspot-expand 2s infinite;
        z-index: -2;
        content: "";
        width: 100%;
        height: 100%;
        left: -5px;
        top: -5px;
        position: absolute;
        padding: 5px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    .e-hotspot__outer-circle {
        content: "";
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .e-hotspot__inner-circle {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: $brand__color;
    }
}

@-webkit-keyframes e-hotspot-expand {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}

@keyframes e-hotspot-expand {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}