section.blog_post {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 38%, #C79E550F 42%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3em 0em 3em 0em;
    position: relative;
    .blog-post-item-wrap {
        margin: 0px 0px 0px 0px;
        padding: 4% 4% 4% 4%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    }
    .blog-post-item-text {
        padding: 25px 0 15px;
    }
}