.site-footer {
    padding-top: 30px;
    font-size: 14px;
    .first-col-widget,
    .third-col-widget,
    .second-col-widget {
        width: 100%;
    }
    .footer-top-content {
        padding: 15px;
    }
    .footer-widgets {
        padding-bottom: 30px;
    }
    .widget-title {
        color: #000000;
        text-transform: uppercase;
    }
    p {
        font-family: 'Manjari', sans-serif;
    }
    .content-list {
        .contact-item {
            color: $brand__color;
            font-size: 15px;
            margin-bottom: 20px;
            h3 {
                color: $brand__color;
                font-family: 'Manjari', sans-serif;
                font-size: 17px;
                font-weight: 600;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0
            }
            li {}
            a {
                color: $brand__color;
                font-family: 'Manjari', sans-serif;
                &:hover {
                    color: $brand__color-dark;
                }
            }
        }
    }
    .footer-logo {
        margin-bottom: 30px;
        text-align: center;
        img {
            max-width: 130px;
        }
    }
    .social-list {
        margin-bottom: 30px;
        a {
            font-size: 20px
        }
    }
    small {
        font-size: 12px;
        line-height: 16px;
    }
    .our-partner-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .partner-item {
            margin: 0 10px;
            flex: 1;
            text-align: center;
            img {
                max-height: 45px;
                width: auto;
            }
        }
    }
    .time-working {
        color: $brand__color;
    }
    .footer-vertical-menu {
        li {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
    .mobile-footer-top-content {
        .footer-brand-logo {
            img {
                max-width: 220px;
            }
        }
        .content-list {
            .contact-item {
                h3 {
                    font-size: 21px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
        .time-working {
            margin-bottom: 30px;
        }
        .time-wroking__item {
            text-align: left !important;
            strong {
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        .our-partner-logo {
            flex-direction: column;
            .partner-item {
                margin-bottom: 20px;
                img {
                    max-height: 75px;
                    width: auto;
                }
            }
        }
    }
    .site-info {
        background: #000000;
        color: #ffffff;
        font-size: 14px;
        padding: 15px 0;
        a {
            color: #ffffff;
            &:hover {
                color: $brand__color;
            }
        }
    }
    .footer-copyright-menu {
        a {
            margin-left: 10px;
            // &:hover {
            //     text-decoration: underline;
            // }
        }
    }
    /** BACK TO TOP **/
    #toTopBtn {
        background-color: $brand__color;
        border-radius: 50%;
        display: none;
        position: fixed;
        bottom: 45px;
        right: 20px;
        z-index: 98;
        padding: 10px 14px;
        color: #fff;
        border: 0px solid;
        height: 41px;
        width: 41px;
    }
    #toTopBtn i {
        color: #fff;
        width: 80%;
    }
    #myBtn:hover {}
    .button-scroll-top {}
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .first-col-widget,
        .third-col-widget,
        .second-col-widget {
            width: 33%;
        }
        .first-col-widget,
        .third-col-widget {
            padding-top: 70px;
            position: relative;
            &:before {
                background-color: $brand__color;
                content: '';
                position: absolute;
                top: 45px;
                left: 0;
                height: 1px;
                width: 100%;
            }
        }
        .footer-vertical-menu {
            text-align: right;
        }
        .footer-copyright-menu {}
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding-top: 50px;
        .first-col-widget,
        .third-col-widget {
            width: 38%;
        }
        .second-col-widget {
            width: 23.332%;
        }
        .footer-logo {
            padding-left: 30px;
            padding-right: 30px;
            img {
                max-width: 100%;
            }
        }
        .our-partner-logo {
            .partner-item {
                flex: 1;
                img {
                    max-height: 75px;
                    width: auto;
                }
            }
        }
        .footer-copyright-menu {
            padding-top: 35px;
            text-align: right;
            p {
                margin: 0;
            }
        }
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .footer-top-content {
            padding-top: 0;
            padding-bottom: 40px
        }
        .footer-widgets {
            padding-bottom: 40px;
        }
        .footer-logo {
            margin-bottom: 35px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .social-list {
            margin-bottom: 35px;
        }
        .our-partner-logo {
            .partner-item {
                img {
                    max-height: 100px;
                    width: auto;
                }
            }
        }
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {}
}